# Node dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
build/

# Logs & temp
*.log
logs/
.DS_Store
*.DS_Store

# Environment files
.env
.env.local

# IDE
.idea/
.vscode/

# Local LevelDB state
midnight-level-db/
preprod-state-*/
